/*-------------------------------------page structure------------------------------------*/

body{
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

/*-------------------------------------header--------------------------------------------*/


.navbar_name {
	font-size: 22px; 
	color:#e6e6e6;
	font-family: 'Mukta Mahee', sans-serif;
	letter-spacing: 1.1px;
	line-height: 20px;
}

.navbar_status {
	font-size: 12px;
	color:#b7b7b7;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	line-height: 20px;	
}

.fa {
	font-size: 20px;
	color:#e6e6e6;
}

.drawer_content {
	background:#f4f2f0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	box-shadow: 0px 1px 7px #888888;
}

.drawer_content li.social_link {
	display:inline-block;
	padding-right: 10px;
}

.drawer_content li.site_link {
	display:inline-block;
	padding-left: 10px;
}

.site_link {
	color:#404040;
	font-family: 'Mukta Mahee', sans-serif;
	letter-spacing: 1.1px;
}

ul {
	margin:0px;
	padding:0px;
	list-style-type: square;
	padding-left:30px;
}

.fa-github, .fa-twitter, .fa-rss {
	color:#b7b7b7;
	font-size: 30px;
}

.flex_styles {
	display:flex;
    justify-content: space-between;
	align-items: center;
	background-color:#404040;
	padding: 20px;
}

.navbar_info h1, .navbar_info p {
	margin: 0;
}


/*-------------------------------------BODY--------------------------------------------*/

.content_container{
	margin:20px;	
}

header {
	margin-bottom: 20px;

}

.blog_header {
	font-size: 13px;
	color:#b7b7b7;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.4px;
	font-weight: bolder;
	padding-bottom: 20px;

}

.timestamp {
	font-size: 12px;
	color:#b7b7b7;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0px;
	font-weight: bold;
}

h1 {
	font-size: 30px; 
	font-family: 'Mukta Mahee', sans-serif;
	letter-spacing: -1px;
	font-weight: bolder;
	line-height: 30px;
	margin: 20px 0px;
}

h2 {font-size: 26px; 
	font-family: 'Mukta Mahee', sans-serif;
	letter-spacing: 0px;
	font-weight: bolder;
	line-height: 30px;
	margin: 20px 0px;
}

li.blog_post{
	list-style: none;
	padding: 20px 0px;
	border-top: 1px solid #f2efed;
}

.post_preview{
	font-size: 13px;
	color:#b7b7b7;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0px;
	padding-bottom: 10px;
	font-weight: bold;
	margin:0px;
}

.post_content{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0px;
	font-weight: bold;
	margin: 0px;
	line-height: 24px;
	border-top: 1px solid #f2efed;
	padding-top: 20px;
}

.Footnotes {
	border-top: 1px solid #f2f0ed;
	color: #555;
	padding-top: 1.5em;
}

.Footnotes-title{
	font-size: 1em;
	margin: 0 0 .8em
}

.Footnotes-items{
	font-size: .8em
}











/*----------------------------clearfix----------------------------*/

.clear {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display:inline-block;}

/*hides from IE-mac*/
* html. clearfix {height: 1%;}
.clearfix {display: block;}
