.fa {
	font-size: 20px;
	color:#e6e6e6;
}
.site_link {
	color:#404040;
	font-family: 'Mukta Mahee', sans-serif;
	letter-spacing: 1.1px;
}
.fa-github, .fa-twitter, .fa-rss {
	color:#b7b7b7;
	font-size: 30px;
}
.navbar_name a {
	color:#b7b7b7;
}
a {
	text-decoration: none;
}
.blog_index a {
	color: #000;
}
a:hover, a li:hover, .fa:hover {
	color: teal;
}
